{% extends "template.html" %}

{% block content %}

<div class="card bg-light d-print-none">
    <div class="card-body">
        <p class="card-text">
        {% if req_infos %}
            Expérience : {{ req_infos.expe }}, le {{ req_infos.date }} à Heure : {{ req_infos.heure }}<br>
        {% else %}
            Il faut saisir les informations de la session sur <a href="{{ url_for('req_orsee') }}">cette page</a>.
            {% if not participants %}
            <br>Il faut charger le fichier avec la liste des participants sur <a href="{{ url_for('liste_participants') }}">cette page</a>.
            {% endif %}
        {% endif %}
        </p>
    </div>
</div>

<p>&nbsp;</p>

{% if participants %}
    <div class="d-print-none text-left">
        <form class="form-inline" action="{{ url_for('bordereaux') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <button class="btn btn-primary" type="button" onclick="window.print();">Imprimer</button>&nbsp;
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <p class="text-info">
            {% if compta_cree %}
            Fichier enregistré dans /tmp
            {% endif %}
        </p>
    </div>
    {% for p in participants %}
    <div class="card">
        <div class="card-header bg-secondary text-white">
            {{ req_infos.expe }} - {{ req_infos.date }} - {{ req_infos.heure }} - Souche {{ souche_deb + loop.index }}
        </div>
        <div class="card-body">
            <p class="card-text float-right">
                {{ ville }}, le {{ req_infos.date }}<br>
                <strong>Signature</strong>
            </p>
            <p class="card-text">
                Forfait de déplacement <input type="checkbox">&nbsp;2&euro; <input type="checkbox">&nbsp;6&euro;<br>
                <br>
                Montant en chiffres :<br>
                Montant en lettres : <br>
                <br>
                Remis à <strong>{{ p.nom }} {{ p.prenom }}</strong><br>
            </p>
        </div>
    </div>

    <p>&nbsp;</p>

    {% if loop.index % 5 == 0 %}
        <div style='page-break-after: always'></div>
    {% endif %}

    {% endfor %}
{% endif %}

{% endblock %}