{% extends 'template.html' %}

{% block content %}

<h3>Liste des participants</h3>

<div class="card bg-light">
    <div class="card-body">
        <p class="card-text">
        {% if req_infos %}
            Expérience : {{ req_infos.expe }}, Date : {{ req_infos.date }}, Heure : {{ req_infos.heure }}<br>
        {% else %}
            Il faut saisir les informations de la session sur <a href="{{ url_for('req_orsee') }}">cette page</a>.
        {% endif %}
        </p>
    </div>
</div>

<p>&nbsp;</p>

{% if req_infos %}
    <div class="row d-print-none">
        <form class="form-inline center-block" action="{{ url_for('liste_participants') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {% if form.input_file.errors %}
                    <label class="btn btn-light input-group-addon" for="my-file-selector">
                    {{ form.input_file(id="my-file-selector", class="is-invalid") }}
                    </label>
                    <div class="invalid-feedback">
                        {% for error in form.input_file.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                <label class="btn btn-light input-group-addon" for="my-file-selector">
                    {{ form.input_file(id="my-file-selector") }}
                </label>
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endif %}

<p>&nbsp;</p>

{% if participants %}
    <div class="d-print-none text-right">
        <button class="btn btn-primary" type="button" onclick="window.print();">Imprimer</button>
        <p>&nbsp;</p>
    </div>

<table class="table table-sm table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>ORSEE-ID</th>
        <th>Mail</th>
        <th>Genre</th>
        <th>Déb. Etud. Sup</th>
        <th>Discipline</th>
    </tr>
    </thead>
    <tbody>
    {% for p in participants %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ p.nom }}</td>
        <td>{{ p.prenom }}</td>
        <td>{{ p.uid }}</td>
        <td>{{ p.mail }}</td>
        <td>{{ p.genre }}</td>
        <td>{{ p.deb_etudes }}</td>
        <td>{{ p.etudes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<p>&nbsp;</p>

{% endblock %}

