{% extends "template.html" %}

{% block content %}

<h3>A propos</h3>

<div class="card bg-light">
    <div class="card-body">
        <p class="card-text">
            Cette application a été développée par Dimitri DUBOIS<br>
            Ingénieur de Recherche CNRS<br>
            Responsable du Laboratoire d'Economie Expérimentale de Montpellier<br>
            Contact : <a href="mailto:dimitri.dubois@umontpellier.fr">dimitri.dubois@umontpellier.fr</a>
        </p>
    </div>
</div>
{% endblock %}