{% extends "template.html" %}

{% block content %}

<h3>Accueil</h3>

<div class="card bg-light">
    <div class="card-body">
        <p class="card-text">
            Cette application permet la création de la requête ORSEE qui donne les liste des participants inscrits
            à une session donnée d'une expérience. Elle permet également la création des bordereaux qui sont signés
            par les participants à la fin de l'expérience, au moment de la rémunération.
        </p>
    </div>
</div>


{% endblock %}
